# Database (PostgreSQL)
DATABASE_URL="postgresql://user:pass@db:5432/bharasena"

# Admin Password
ADMIN_PASSWORD="admin123"

# Cloudinary
CLOUDINARY_CLOUD_NAME="my-cloud"
CLOUDINARY_API_KEY="123456789"
CLOUDINARY_API_SECRET="abc...xyz"
CLOUDINARY_UPLOAD_PRESET="bharasena_unsigned"

# Public App Base URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
